.search{
    /* border: 1px solid black; */
    
    box-shadow: 0px 0px 7px  gray;
    display: flex;
    align-items: center;
    /* border-radius: 3px; */
    position: relative;
}

.search> form{
    display: flex;
}


#st{
    border: none;
    font-size: 30px;
    padding: 10px;
    /* padding-top: 2px;
    padding-bottom: 7px; */
    border-radius: 3px;
    position:inherit;
    color: rgb(84, 74, 74);

}

#mag{

}

#searchbutt:hover{
    background-color: rgb(226, 91, 91);
    transition: 2s;
}

#searchbutt{
    border: none;
    color: white;
    background-color: red;
    font-size: 30px;
    padding: 10px;
    border-radius: 3px;
    /* position: inherit; */
    cursor: pointer;
    margin-left: -50px;
}