.review-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

#busname{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#review-text{
    width: 37rem;
    height: 17rem;
    font-size: 20px;
    padding-top: 6rem;
    padding-left: 1rem;
    /* margin-top: -10rem; */
}

#upload{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#post-review{
    color: white;
    background-color: rgb(235, 42, 42);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: 1s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#post-review:hover{
    background-color: red;
}



.rate{
    display: flex;
    justify-content: left;
    margin-bottom: -5rem;
    margin-left: 1rem;
    position: relative;
    z-index: 0;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}


.img-preview{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    margin-bottom: 20px;

}


.previews{
    margin: 10px;
    border-radius: 10px;
    
}

.previews:hover{
    box-shadow: 0 0 10px;
} 